@charset "UTF-8";
body {
  width: 100%;
  margin: 0 auto;
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

body a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #ffffff;
}

.header .header-inner {
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-inner .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-inner .logo a {
  text-decoration: none;
}

.header .header-inner .logo img {
  width: 200px;
  display: block;
}

.header .header-inner .globalNav {
  display: block;
}

.header .header-inner .globalNav .topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
}

.header .header-inner .globalNav .topics a {
  margin-right: 30px;
  font-size: 16px;
  color: #000000;
  text-align: left;
  display: inline-block;
}

.header .header-inner a.button {
  display: inline-block;
  color: #ffffff;
  display: block;
  height: 54px;
  width: 170px;
  background: #978f10 0% 0% no-repeat padding-box;
  text-align: center;
  padding: 19px 0px 19px 0px;
}

.header .header-inner a.button img {
  width: 22px;
}

.header .header-inner a.button p {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  margin-left: 10px;
}

.top_contents {
  max-width: 1920px;
  margin: 0 auto;
  height: 580px;
  background-image: url(images/oheya-header.png);
  background-position: center;
  background-size: cover;
}

.top_contents .title {
  color: #ffffff;
  text-align: center;
  padding-top: 313px;
  font-size: 34px;
  height: 100%;
  letter-spacing: 0.2em;
}

.main_contents {
  width: 100%;
  max-width: 1920px;
  height: 1940px;
  margin: 0 auto;
}

.main_contents .main_container {
  max-width: 1180px;
  margin: 0 auto;
  height: 100%;
  background-color: #d4ba9f;
}

.main_contents .main_container .mc {
  width: 100%;
  height: 308px;
}

.main_contents .main_container .mc .pan {
  font-size: 16px;
  padding-top: 36px;
}

.main_contents .main_container .mc .mc_sentence {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 98px;
  letter-spacing: 2px;
  line-height: 2;
  font-size: 16px;
}

.main_contents .main_container .first_content {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  background-color: chocolate;
}

.main_contents .main_container .first_content .first_content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 57px 243px 138px;
      grid-template-rows: 57px 243px 138px;
  -ms-grid-columns: 367px 158px 655px;
      grid-template-columns: 367px 158px 655px;
}

.main_contents .main_container .first_content .first_content_wrapper .fl_content {
  z-index: 1;
}

.main_contents .main_container .first_content .first_content_wrapper .fl_content img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  width: 525px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_contents .main_container .first_content .first_content_wrapper .fr_content {
  padding-top: 57px;
  padding-left: 238px;
  width: 813px;
  height: 381px;
  background: transparent url("images/bg.png") 0% 0% no-repeat padding-box;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.main_contents .main_container .first_content .first_content_wrapper .fr_content h3 {
  font-size: 24px;
  margin-bottom: 52px;
}

.main_contents .main_container .first_content .first_content_wrapper .fr_content p.attention {
  font-size: 14px;
  line-height: 1.8;
}

.main_contents .main_container .first_content .first_content_wrapper .fr_content p {
  font-size: 16px;
  line-height: 2.3;
  margin-bottom: 40px;
}

.main_contents .main_container .second_content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #1e90ff;
  margin-top: 84px;
}

.main_contents .main_container .second_content .second_content_wrapper {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 57px 243px 138px;
      grid-template-rows: 57px 243px 138px;
  -ms-grid-columns: 655px 158px 367px;
      grid-template-columns: 655px 158px 367px;
}

.main_contents .main_container .second_content .second_content_wrapper .sr_content {
  z-index: 1;
}

.main_contents .main_container .second_content .second_content_wrapper .sr_content img {
  width: 525px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.main_contents .main_container .second_content .second_content_wrapper .sl_content {
  width: 813px;
  height: 381px;
  padding-top: 60px;
  padding-left: 60px;
  background: transparent url("images/bg.png") 0% 0% no-repeat padding-box;
}

.main_contents .main_container .second_content .second_content_wrapper .sl_content h3 {
  font-size: 24px;
  margin-bottom: 52px;
}

.main_contents .main_container .second_content .second_content_wrapper .sl_content p.attention {
  font-size: 14px;
  line-height: 1.5;
}

.main_contents .main_container .second_content .second_content_wrapper .sl_content p {
  line-height: 2.3;
  font-size: 16px;
  margin-bottom: 43px;
}

.main_contents .main_container .third_content {
  width: 100%;
  margin-top: 84px;
  margin-right: auto;
  margin-left: auto;
}

.main_contents .main_container .third_content .third_content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-rows: 57px 243px 138px;
      grid-template-rows: 57px 243px 138px;
  -ms-grid-columns: 367px 158px 655px;
      grid-template-columns: 367px 158px 655px;
}

.main_contents .main_container .third_content .third_content_wrapper .tl_content {
  z-index: 1;
}

.main_contents .main_container .third_content .third_content_wrapper .tl_content img {
  width: 525px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.main_contents .main_container .third_content .third_content_wrapper .tr_content {
  padding-top: 57px;
  padding-left: 238px;
  width: 813px;
  height: 381px;
  background: transparent url("images/bg.png") 0% 0% no-repeat padding-box;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.main_contents .main_container .third_content .third_content_wrapper .tr_content h3 {
  font-size: 24px;
  margin-bottom: 52px;
}

.main_contents .main_container .third_content .third_content_wrapper .tr_content p.attention {
  font-size: 14px;
}

.main_contents .main_container .third_content .third_content_wrapper .tr_content p {
  line-height: 2.3;
  margin-bottom: 40px;
}

.footer {
  width: 100%;
  height: 582px;
  background-color: powderblue;
  background: transparent url("images/bg3.png") 0% 0% no-repeat padding-box;
  background-position: center;
  background-size: cover;
}

.footer .upper_footer {
  height: 522px;
}

.footer .upper_footer .footer_menu {
  margin: 0 auto;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  padding-top: 64px;
  padding-bottom: 96px;
}

.footer .upper_footer .footer_menu a {
  margin-left: 34px;
  margin-right: 34px;
  display: block;
  font-size: 18px;
  letter-spacing: 0.5em;
}

.footer .upper_footer .footer_image {
  text-align: center;
  margin-bottom: 72px;
}

.footer .upper_footer .footer_image img {
  width: 145px;
}

.footer .upper_footer .footer_access {
  text-align: center;
}

.footer .upper_footer .footer_access p {
  font-size: 16px;
}

.footer .upper_footer .footer_access .add_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .upper_footer .footer_access .add_wrap p {
  margin-left: 21px;
  margin-bottom: 23px;
}

.footer .upper_footer .footer_access .add_wrap .add {
  letter-spacing: 4px;
}

.footer .bottom_footer {
  height: 60px;
  background: #000000 0% 0% no-repeat padding-box;
}

.footer .bottom_footer .copyright {
  text-align: center;
  padding-top: 23px;
  font-size: 12px;
  color: #ffffff;
}
/*# sourceMappingURL=style1.css.map */