.top_contents{
  height: 700px;
  .top_image{
    display: none;
  }
}



.introduction{
  height: auto;
  .intro_container{
    width: 100%;
    .intro_wrap{
      padding-right: 0px;
      display: block;
      .first_content{
        margin-left: 3.5em;
      }
      .intro_second_container{
        .second_content, .third_content, .forth_content{
          margin-left: 4em;
        }
      }
    }
  }
}



.main_contents{
  height: auto;
  .main_container{
    .first_content{
      height: auto;
      width: 100%;
      .first_content_wrapper{
        display: block;
        .fl_content{
          width: 100%;
          img{
            width: 92.865%;
          }
        }
        .fr_content{
          margin-top: 100px;

          & h3{
            font-size: 28px;
            margin-bottom: 40px;
          }

          & p{
            font-size: 14;
            margin-bottom: 40px;
          }

          & a.button{
            width: 150px;
            height: 42px;
            font-size: 14px;
            padding: 13px 0 13px 0;
          }
        }
      }
    }
    .second_content{
      height: auto;
      width: 100%;
      .second_content_wrapper{
        margin-top: 150px;
        flex-direction: column-reverse;
        .sl_content{
          margin-left: 7.135%;
          margin-top: 100px;
          margin-right: 0px;

          & h3{
            font-size: 28px;
            margin-bottom: 40px;
          }

          & p{
            font-size: 14;
            margin-bottom: 40px;
          }

          & a.button{
            width: 150px;
            height: 42px;
            font-size: 14px;
            padding: 13px 0 13px 0;
          }
        }
        .sr_content{
          width: 100%;
          text-align: right;
          img {
            width:92.865%;
          }
        }
      }
    }
    .third_content{
      height: auto;
      width: 100%;
      .third_content_wrapper{
        display: block;
        margin-top: 150px;

        .tl_content{
          width: 100%;
          img{
            width: 92.865%;
          }
        }
        .tr_content{
          margin-top: 100px;

          & h3{
            font-size: 28px;
            margin-bottom: 40px;
          }

          & p{
            font-size: 14;
            margin-bottom: 40px;
          }

          & a.button{
            width: 150px;
            height: 42px;
            font-size: 14px;
            padding: 13px 0 13px 0;
            margin-bottom: 150px;
          }
        }
      }
    }
  }
}
