.main_wrapper{
  .main-view{
    .mv_container{
      flex-direction: column ;

      .left_content{
        padding-left: 0;
        margin: 0 auto;
        text-align: center;
        .left_content_wrapper{
          margin-top: 50px;
          margin-right: 0;
          .left_content_sentence{
            margin-right: auto;
            margin-left: auto;
          }
        }
      }
      .right_content{
        width: 100%;
        height: auto;
        .main_image img{
          margin-top: 0;
          margin-right: auto;
          margin-left: auto;
          padding-top: 30px;
          display: flex;
          // align-self: center;
        }
      }

      a.button{
        margin:0  auto;
      }
    }
  }
}
