.introduction{
  .intro_container{
    .intro_wrap{
      writing-mode: horizontal-tb !important;
      display: block !important;
      text-align: center;
      .first_content{
        margin-top: 0px;
        padding-top: 60px;
        margin-left: 0px !important;
        .fc{
          .fc_sentence{
            font-size: 20px;
            margin-left: 0px;
            letter-spacing: 0.1em;
          }
          .fc_sentence:nth-child(2){
            margin-top: 30px;
          }
        }
      }
      .intro_second_container{
        font-size: 12px !important;
        margin-top: 60px;
        line-height: 1.8;
        letter-spacing: 0.1em;
        height: auto;
        .second_content, .third_content, .forth_content{
          margin-left: 0px !important;
          margin-bottom: 30px;

          & p{
            margin-left: 0px;
          }
        }
      }
      .fifth_content{
        margin-top: 60px;
        font-size: 18px !important;
        letter-spacing: 0.04em;
      }
    }

  }
}



.main_contents{
  .main_container{
    .first_content{
      .first_content_wrapper{
        .fl_content{
          img{
            width: 92% !important;
          }
        }
        .fr_content{
          margin-top: 80px !important;

          & h3 {
            font-size: 20px !important;
          }

          & p{
            font-size: 12px !important;
          }

          & a.button{
            font-size: 12px !important;
          }
        }
      }
    }
    .second_content{
      .second_content_wrapper{
        .sl_content{
          margin-top: 80px !important;
          & h3 {
            font-size: 20px !important;
          }

          & p{
            font-size: 12px !important;
          }

          & a.button{
            font-size: 12px !important;
          }
        }
      }
    }
    .third_content{
      .third_content_wrapper{
        .tl_content{
          img{
            width: 92% !important;
          }
        }
        .tr_content{
          margin-top: 80px !important;

          & h3 {
            font-size: 20px !important;
          }

          & p{
            font-size: 12px !important;
          }

          & a.button{
            font-size: 12px !important;
          }
        }
      }
    }
  }
}





.plan{
  height: auto !important;
  .plan_inner{
    height: auto;
    .plan_title{
      margin-bottom: 50px;
      & h2{
        font-size: 22px !important;
      }
    }
    .wrapper_grid{
      flex-direction: column;
      height: auto;
      width: 86% !important;
    }
    .item{
      display: block;
      height: auto;
      width: 100% !important;
      margin-bottom: 50px;
      .item-info{

        & h2{
          font-size: 14px !important;
          margin-bottom: 20px;
          margin-top: 15px;
        }
        & p{
          font-size: 12px !important;
          width: 60%;
          line-height: 1.5;
        }
      }
    }
  }
}





.news{
  height: auto;
  .news_container{
    height: auto;
    .news_list_wrapper{
      .tab-content.show{
        padding: 10px 30px 70px 30px;
        display: block;
        .nl_item{
          margin-bottom: 20px;
          & img{
            margin-right: 15px;
          }
          .nl-info{
            & h2{
              line-height: 1.4 !important;
            }
          }
        }
      }
    }
  }
}




.access{
  height: auto;
  .access_inner{
    height: auto;
    .access_contents{
      .access_upper_contents{
        .upper_left_contents{
          width: 86%;
            & img{
              width: 86%;
            }
        }
        .upper_right_contents{
          width: 86%;
          .details{
            & h2{
              font-size: 14px !important;
            }
            & p{
              font-size: 12px !important;
            }
          }
          p.attention{
            font-size: 12px !important;
            text-align: left;
            line-height: 1.8;
          }
        }
      }
      .access_bottom_contents{
        width: 86%;
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
  }
}




.footer{
  .upper_footer{
    .footer_menu{
      padding-top: 50px;
      padding-bottom: 100px;
      & a {
        font-size: 14px;
      }
    }
    .footer_image{
      margin-bottom: 100px;
      & img{
        width: 120px;
      }
    }
    .footer_access{
      & p{
        font-size: 12px;
      }
      .add_wrap{
        display: block;
        text-align: center;
        & p{
          // display: block;
          // flex-direction: column;
          margin-left: 0px;
          margin-bottom: 10px;
        }
      }
      .tel-wrap{
        display: block;
        p{
          margin-bottom: 10px;
          font-size: 12px;
        }
      }
    }
  }
}
