.header{
  .header-inner{
    .modal{
      .modal__bg{
        left: -2%;
      }
      .modal__content{
        left: 48%;
      }
    }
  }
}






.top_contents{
  .title{
    font-size: 28px;
  }
}





.main_contents{
  height: auto;
  .main_container{
    height: auto;
    padding-bottom: 170px;
    .mc{
      .pan{
        font-size: 14px;
      }
      .mc_sentence{
        padding-top: 88px;
        font-size: 14px;
        line-height: 2.2;
      }
    }

    .first_content{
      height: 800px;
      .first_content_wrapper{
        height: 100%;
        grid-template-rows: 13.01% 50.48% 36.51%;
        grid-template-columns: 11.1% 68.39% 20.51%;
        .fl_content{
          img{
            height: 100%;
            max-height: none;
          }
        }
        .fr_content{
          padding-top: 465px;
          padding-left: 90px;
          & h3{
            font-size: 22px;
            margin-bottom: 50px;
          }
          // p.attention{
          //   font-size: 12px;
          // }

          & p{
            font-size: 14px;
            margin-bottom: 15px;
          }
        }
      }
    }
    .second_content{
      height: 800px;
      margin-top: 170px;
      .second_content_wrapper{
        height: 100%;
        grid-template-rows: 13.01% 50.48% 36.51%;
        grid-template-columns: 20.51% 68.39% 11.1%;
        .sl_content{
          padding-top: 465px;
          padding-left: 23%;
          & h3{
            font-size: 22px;
            margin-bottom: 50px;
          }

          // & p.attention{
          //   font-size: 12px;
          // }

          & p{
            font-size: 14px;
            margin-bottom: 15px;
          }
        }
        .sr_content{
          img{
            height:100%;
            max-height: none;
          }
        }
      }
    }
    .third_content{
      // height: 500px;
      .third_content_wrapper{
        height: auto;
        .third_up_content{
          .third_up_title{
            font-size: 22px;
          }
        }
        .third_bottom_content{
          width: 90%;
          padding-bottom: 90px;
          .spa_detail{
            & th{
              width: 58px;
            }
            & th, td{
              font-size: 13px;
            }
            & td{
              br{display:none}
              letter-spacing: 0.1em;
              // padding-left: 60px;
            }
          }
        }
      }
    }
  }
}
