
.header{
  height: 60px;
  .header-inner{
    padding: 0px;
    position: relative;
    .logo{
      img{
        margin-left: 20px;
        width: 120px;
      }
    }
    .globalNav{
        position: fixed;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        color: #fff;
        background: rgba(151,143,16,0.9);
        text-align: center;
        transition: .6s ease-in-out;
        visibility: hidden;
        padding-top: 195px;
        font-size: 24px;
        z-index: 3;
      .topics{
          flex-direction: column;
          font-size: 2.4rem;
          text-align: center;
          margin-left: 0px;
          a{
          margin-right: 0;
          }
        li:not(:last-child){
            margin-right: 0;
            margin-bottom: 40px;
          }
        }
      }
      .reverse{
        display: flex;
        margin: 0 0 0 auto;
      }
    .gnav-btn{
      order: 2;
      margin: 0 20px 0 10px;
      display: inline-block;
      position: relative;
      width: 26px;
      height: 26px;
      cursor: pointer;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      z-index: 4;
        & span{
          position: absolute;
          width: 100%;
          height: 2px;
          display: inline-block;
          background: #000;
          border-radius: 10px;
          transition: all 0.4s ease-in-out;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
        }
        & span:nth-child(1){
          top: 20%;
        }
        & span:nth-child(2){
          top: 50%;
        }
        & span:nth-child(3){
          top: 80%;
        }
    }

    .gnav-btn.open span:nth-child(1){
        transform: rotate(45deg);
        top: 48%;
      }
      .gnav-btn.open span:nth-child(2){
        opacity: 0;
        transition: opacity .3s;
      }
      .gnav-btn.open span:nth-child(3){
        transform: rotate(-45deg);
        top: 48%;
      }

      .globalNav.slide-in{
        opacity: 1;
        visibility: visible;

        .topics{
          flex-direction: column;
          text-align: center;
          font-size: 23px;
          letter-spacing: 4px;
          a{
            margin-right: 0;
          }
          li:not(:last-child){
            margin-right: 0;
            margin-bottom: 40px;
          }
        }
      }

      .reserve{
        // position: absolute;
        // top: 600px;
        // left: 50%;
        order: 1;
        margin: 0px;
        a.js-modal-open{
          width: 100px;
          height: 30px;
          & img {
            margin-left: 7px;
            width: 18px;
            height: 18px;
          }
          & p{
            font-size: 12px;
            padding: 9px 0 11px 0;
            margin-left: 10px;
          }
        }
      }
      .modal{
        .modal__bg{
          left: 0% !important;
        }
        .modal__content{
            left: 50% !important;
            max-width: 550px;
            width: 80%;
          .modal__content__title{
            & h2{
              font-size: 16px;
              width: 92%;
            }
            & img{
              width: 14px;
              height: 14px;
            }
          }
          form{
            padding-left: 10px;
            padding-right: 11px;
            label{
              font-size: 12px;
            }
            p{
              font-size: 12px;
              line-height: 1.5;
              & .sp-br{
                display: inline;
              }
            }
          }
        }
      }
    }
  }




.top_contents{
  .title{
    font-size: 24px !important;
  }
}







.main_contents{
  .main_container{
    .mc{
      .pan{
        font-size: 12px !important;
      }
      .mc_sentence{
        padding-top: 65px !important;
        font-size: 12px !important;
        line-height: 2.4 !important;
        letter-spacing: 0.1em;
        width: 70%;
        margin: 0 auto;
      }
    }


    .first_content{
      .first_content_wrapper{
        grid-template-columns: 11.1% 78.39% 10.51% !important;
        grid-template-rows: 13.01% 40.48% 46.51% !important;
        // .fl_content{
        //   img{
        //     // width: 92% !important;
        //   }
        // }
        .fr_content{
          padding-left: 40px !important;
          padding-top: 400px !important;
          & h3 {
            font-size: 20px !important;
          }

          & p{
            br{display:none}
            width: 89%;
            font-size: 12px !important;
            margin-bottom: 40px !important;
          }

        }
      }
    }
    .second_content{
      .second_content_wrapper{
      grid-template-columns: 10.51% 78.39% 11.1% !important;
      grid-template-rows: 13.01% 40.48% 46.51% !important;
        .sl_content{
          padding-top: 400px !important;
          padding-left: 13% !important;

          & h3 {
            font-size: 20px !important;
          }

          & p{
            br{display:none}
            width: 89%;
            font-size: 12px !important;
            margin-bottom: 40px !important;
          }
        }
      }
    }


    .third_content{
      // height: 500px;
      .third_content_wrapper{
        height: auto;
        .third_up_content{
          .third_up_title{
            font-size: 20px !important;
          }
        }
        .third_bottom_content{
          width: 96% !important;
          .spa_detail{
            & th{
              width: 50px;
            }
            & th, td{
              font-size: 12px !important;
            }
            & td{
              br{display:none}
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
}










.footer{
  .upper_footer{
    .footer_menu{
      padding-top: 50px;
      padding-bottom: 100px;
      width: 144px;
      & a {
        font-size: 14px;
      }
    }
    .footer_image{
      margin-bottom: 100px;
      & img{
        width: 120px;
      }
    }
    .footer_access{
      & p{
        font-size: 12px;
      }
      .add_wrap{
        display: block;
        text-align: center;
        & p{
          // display: block;
          // flex-direction: column;
          margin-left: 0px;
          margin-bottom: 10px;
        }
      }
      .tel-wrap{
        display: block;
        p{
          margin-bottom: 10px;
          font-size: 12px;
        }
      }
    }
  }
}
